src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ac471a74-b266-46e4-a97e-710d2f9f3b06" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="d5841a15-2b0d-4309-815c-ad219181dbca" >
		<http:listener doc:name="Listener" doc:id="2c8f8cfc-d6c6-4c7d-9e5e-808a84b32b35" config-ref="HTTP_Listener_config" path="/git"/>
		<logger level="INFO" doc:name="Logger" doc:id="b0742e3f-1f1f-4c28-a653-db07a487722a" message='#["hello world"]'/>
		<set-payload value='#["welcome to git hub"]' doc:name="Set Payload" doc:id="f9d612c8-8206-4d0d-b9d2-fb3ae026bf6f" />
	</flow>
</mule>
